
<head>
    <link rel="stylesheet" href="/css/newheader.css">
    <script src="/js/newheader.js"></script>
</head>
<body>
    <div class="end-section">
        <div class="contact-info">
            <h2>Contact Us</h2>
            <p>Email: learnhub@gmail.com</p>
            <p>Phone: +2 100 565 8748</p>
            <a href="#about" class="about">About us</a>
        </div>
        <!-- <div class="chatbox" id="chatbox">
            <div class="chat-header">
                <h2>Chat with us</h2>
                <button id="close-chat" class="close-chat">x</button>
            </div>
            <div class="chat-body" id="chat-body">
    
            </div>
            <div class="chat-footer">
                <input type="text" id="chat-input" placeholder="Type a message...">
                <button id="send-chat" class="send-chat">Send</button>
            </div>
        </div> -->
        <a href="/contactus" id="open-chat" class="open-chat">
            Chat with us
          </a>
        <h2>Popular Courses</h2>
        <ul class="course-list">
          <li><a href="business">Business</a></li>
          <li><a href="development">Development</a></li>
          <li><a href="IT">IT & Software</a></li>
          <li><a href="design">Design</a></li>
          <li><a href="marketing">Marketing</a></li>
        </ul>
        
    </div>

</body>
