<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/Admin.css">
</head>
<body>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <button class="button"><a href="/admin/usersmanagement">Users Management</a></button>
        <button class="button"><a href="/admin/coursesmanagement">Courses Management</a></button>
        <button class="button"><a href="/adminsurvey">Survey Management</a></button>
    </div>
</body>
</html>
