<!DOCTYPE html>
<html lang="en">
<head>
   <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="/css/newheader.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/js/newheader.js"></script>
    <title><% mytitle %></title>
</head>
<body>

    <%- include("./partials/nav.ejs") %>

    <div class="slideshow-container" >
        <div class="mySlides">
            <a href="https://img.freepik.com/free-photo/copyspace-business-elements_23-2147986611.jpg?t=st=1714479244~exp=1714482844~hmac=639c4ad19a754b70dac98aacfb191aa90b675b4a30e793a2e5331284f6b43441&w=2000" class="photos"><img src="https://img.freepik.com/free-photo/stationery-lying-near-keyboard_23-2147864691.jpg?t=st=1715010194~exp=1715013794~hmac=b62966889e0d22cb5e4b4d64c4ab21304a809ee08bf88bb7a7cd2656de725db2&w=996" style="width:100%" alt="slide"></a>
            <div class="text1"><h1>Join courses now for free</h1>
              <a href="/signup" class="btn1">Sign up for free</a>
          </div>
          </div>
        
          <div class="mySlides">
            <a href="https://img.freepik.com/free-photo/top-view-office-stationery-with-pen-notebook_23-2148524768.jpg?t=st=1714480017~exp=1714483617~hmac=24902be0925cf6a22cabfb2ca233f5ff791cdec6f0040d81abf6bfadefdbd62c&w=1480" class="photos"><img src="https://img.freepik.com/free-photo/top-view-office-stationery-with-pen-notebook_23-2148524768.jpg?t=st=1714480017~exp=1714483617~hmac=24902be0925cf6a22cabfb2ca233f5ff791cdec6f0040d81abf6bfadefdbd62c&w=1480" style="width:100%" alt="slide"></a>
            <div class="text2"><h1>Multiple Courses in the palm of your hand</h1>
              <a href="/maincourses" class="btn2">View available courses</a>
          </div>
          </div>
        
          <div class="mySlides">
            <a href="https://img.freepik.com/free-photo/office-supplies_23-2148103974.jpg?t=st=1714480291~exp=1714483891~hmac=f88e2fdaf79bfd4912d0ba7f95695fef96615431c1bd9f190970e27cc1e9f487&w=2000" class="photos"><img src="https://img.freepik.com/free-photo/office-supplies_23-2148103974.jpg?t=st=1714480291~exp=1714483891~hmac=f88e2fdaf79bfd4912d0ba7f95695fef96615431c1bd9f190970e27cc1e9f487&w=2000" style="width:100%" alt="slide"></a>
            <div class="text3"><h1>Find Your Course Compass: Navigate Your Way to the Perfect Fit!</h1>
              <a href="/surveypage" class="btn3">Take the survey now!</a>
          </div>
          </div>
        
         
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div class="courses-in-progress">
      <h2>Courses in Progress</h2>
      <div class="course-container">
          <div class="course-card small">
              <img src="https://miro.medium.com/v2/resize:fit:1358/1*7au_BU1G6Lxuak2ROz6zdw.png" alt="Course Image">
              <div class="course-info">
                  <h3><a href="/socialprogress">Master Course in Social Media Marketing</a></h3>
                  <div class="progress-container">
                      <div class="progress-bar" style="width: 60%;"></div>
                      <span class="progress-percent">60%</span>
                  </div>
              </div>
          </div>
          <div class="course-card small">
              <img src="https://img.freepik.com/free-vector/data-analysis-isometric-infographics-layout_1284-25277.jpg?size=338&ext=jpg&ga=GA1.1.1224184972.1714348800&semt=ais" alt="Course Image">
              <div class="course-info">
                  <h3><a href="/networksprogress">Foundations of networks</a></h3>
                  <div class="progress-container">
                      <div class="progress-bar" style="width: 80%;"></div>
                      <span class="progress-percent">80%</span>
                  </div>
              </div>
          </div>
          <div class="course-card small">
              <img src="https://www.tastefulspace.com/wp-content/uploads/2023/02/logo.jpg" alt="Course Image">
              <div class="course-info">
                  <h3><a href="/businessprogress">Entrepreneurship and Business Life Coach Certification</a></h3>
                  <div class="progress-container">
                      <div class="progress-bar" style="width: 45%;"></div>
                      <span class="progress-percent">45%</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div class="trending-courses">
      <h2>Trending Courses</h2>
      <div class="course-container">
          <div class="course-card">
              <img src="https://yorcmo.com/wp-content/uploads/2021/09/Fundamentals_of_Marketing_header.jpg" alt="Course Image">
              <div class="course-info">
                  <h3><a href="marketingfundamentals.html">Marketing Fundamentals: Discover The 5 Marketing Pillars</a></h3>
                  <p>Dr. Vladimir Raykov, Developer and Lead Instructor</p>
                  <div class="rating">
                      <span>4.7</span>
                      <span class="stars">★★★★☆</span>
                      <span>(213)</span>
                  </div>
                  <div class="price">$749.99</div>
                  <button class="bestseller">Bestseller</button>
              </div>
          </div>
          <div class="course-card">
              <img src="https://img.freepik.com/free-vector/technical-support-guys-working-repairing-computer-hardware-software-troubleshooting-fixing-problems-problem-checking-concept-bright-vibrant-violet-isolated-illustration_335657-364.jpg?t=st=1714775002~exp=1714778602~hmac=3662e2871ae0de5b4a4571e4fcc28757d1661700b7998f4c9f9eacfd8099f3ef&w=900" alt="Course Image">
              <div class="course-info">
                  <h3><a href="/OperatingSystemCrashCourse">Operating System Crash Course For Beginners</a></h3>
                  <p>John Antonios, Systems Instructor</p>
                  <div class="rating">
                      <span>4.7</span>
                      <span class="stars">★★★★☆</span>
                      <span>(384)</span>
                  </div>
                  <div class="price">$819.99</div>
                  <button class="bestseller">Bestseller</button>
              </div>
          </div>
          <div class="course-card">
              <img src="https://img-c.udemycdn.com/course/750x422/66200_2b89_8.jpg" alt="Course Image">
              <div class="course-info">
                  <h3><a href= "/gamelocalization">Introduction to Game Localization</a></h3>
                  <p>Pablo Muñoz Sánchez,Gamification Instruction</p>
                  <div class="rating">
                      <span>4.6</span>
                      <span class="stars">★★★★☆</span>
                      <span>(207)</span>
                  </div>
                  <div class="price">$611.99</div>
              </div>
          </div>
          <div class="course-card">
              <img src="https://img.freepik.com/free-photo/html-css-collage-concept-with-hacker_23-2150061984.jpg?t=st=1714774807~exp=1714778407~hmac=4ced7600c261e11a299fea38e3e353da54668f89ffecf3d8d76150e665c86fd4&w=900" alt="Course Image">
              <div class="course-info">
                  <h3><a href="/foundationsofcybersecurity">Foundations of Cyber Security</a></h3>
                  <p>Eng. Bob Mark | Network Security Instructor</p>
                  <div class="rating">
                      <span>4.7</span>
                      <span class="stars">★★★★☆</span>
                      <span>(859)</span>
                  </div>
                  <div class="price">$821.99</div>
                  <button class="bestseller">Bestseller</button>
              </div>
          </div>
      </div>
  </div>
  <div class="video-section">
    <iframe width="100%" height="500" src="/videos/invideo-ai-1080 Unlock Your Potential with Our Courses! 2024-06-22 (1).mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
          <br>
          <div class="body1" id="about">
            <h1>About us</h1>
            <p>At LearnHub, we are passionate about education and empowering individuals to reach their full potential through learning. With a diverse range of courses designed to cater to various interests and skill levels, we strive to provide an enriching and accessible learning experience for all. Our team of experienced educators and industry professionals is dedicated to delivering high-quality content that is both informative and engaging. Whether you're looking to enhance your professional skills, explore new interests, or pursue personal development, we have a course for you. Join us on this journey of discovery and unlock new opportunities for growth and success.</p>
          </div>
          <div class="testimonials" >
            <div class="testimonial-card">
              <h3>Review 1</h3>
              <p>I recently enrolled in a course on this platform, and I must say, it exceeded my expectations! The content was comprehensive, the instructors were knowledgeable, and the learning experience was truly enjoyable. I highly recommend it to anyone looking to expand their knowledge and skills.</p>
              <p>- Yomna</p>
            </div>
            <div class="testimonial-card">
              <h3>Review 2</h3>
              <p>تجربة ممتازة! لقد استمتعت بشكل كبير بالدورة التدريبية التي قمت بالتسجيل فيها. المحتوى كان مفيداً للغاية وساعدني في تطوير مهاراتي بشكل كبير. أوصي بهذه الدورة لكل من يبحث عن تعلم جديد ومفيد</p>
              <p>- Moatassem</p>
            </div>
            <div class="testimonial-card">
                <h3>Review 3</h3>
                <p>.تجربة سيئة جداً! للأسف، لم يكن الدورة التدريبية التي قمت بالتسجيل فيها مفيدة على الإطلاق. كانت المحاضرات غير واضحة والمواد غير منظمة، ولم أستفد بتاتاً منها. لا أنصح بها على الإطلاق</p>
                <p>- Rawan</p>
              </div>
              <div class="testimonial-card">
                <h3>Review 4</h3>
                <p>I've been using this platform for a while now, and it's been a game-changer for me. The variety of courses available caters to all interests, and the flexibility of learning at my own pace is invaluable. I've already recommended it to all my friends!</p>
                <p>- Norhan</p>
              </div>
              <div class="testimonial-card">
                <h3>Review 5</h3>
                <p>تجربة رائعة! كنت متردداً في البداية قبل التسجيل في الدورة، ولكن بمجرد بدء التعلم، وجدت نفسي متحمساً ومستمتعاً بكل درس. الدعم الفني كان ممتازاً وساعدني في حل أي مشكلة واجهتني. أشكر فريق العمل على تقديم تجربة تعليمية ممتازة</p>
                <p>- Hana</p>
              </div>
          </div>

          <%- include('./partials/navend.ejs') %>
       
</body>
</html>