<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchased Courses</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> -->
    <link rel="stylesheet" href="/css/purchasehistory.css">
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="purchased-courses">
        <h2>Purchase History</h2>
        <div class="course-container1">
            <div class="course-card1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT43-dV934iAoIDeIYjFQ6SdTGXqXjNWZl_PDlvyKFY-w&s" alt="Course Image">
                <div class="course-info1">
                    <h3><a href="introtohtmlcourse.html">Introduction to HTML</a></h3>
                    <div class="progress-container1">
                        <div class="progress-bar1" style="width: 100%;"></div>
                        <span class="progress-percent1">100%</span>
                    </div>
                    <span class="status complete">Complete</span>
                </div>
            </div>
            <div class="course-card1">
                <img src="https://www.forbes.com/advisor/wp-content/uploads/2023/06/Image_-1-900x510.jpg" alt="Course Image">
                <div class="course-info1">
                    <h3><a href="socialmediamarketing.html">Master Course in Social Media Marketing</a></h3>
                    <div class="progress-container1">
                        <div class="progress-bar1" style="width: 60%;"></div>
                        <span class="progress-percent1">60%</span>
                    </div>
                </div>
            </div>
            <div class="course-card1">
                <img src="https://img.freepik.com/free-vector/data-analysis-isometric-infographics-layout_1284-25277.jpg?size=338&ext=jpg&ga=GA1.1.1224184972.1714348800&semt=ais" alt="Course Image">
                <div class="course-info1">
                    <h3><a href="foundationsofnetworks.html">Foundations of Networks</a></h3>
                    <div class="progress-container1">
                        <div class="progress-bar1" style="width: 80%;"></div>
                        <span class="progress-percent1">80%</span>
                    </div>
                </div>
            </div>
            <div class="course-card1">
                <img src="https://www.tastefulspace.com/wp-content/uploads/2023/02/logo.jpg" alt="Course Image">
                <div class="course-info1">
                    <h3><a href="enterpreneurshipprogress.html">Entrepreneurship and Business Life Coach Certification</a></h3>
                    <div class="progress-container1">
                        <div class="progress-bar1" style="width: 45%;"></div>
                        <span class="progress-percent1">45%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
