<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <head>
    <title>Sales and Persuasion Skills for Startups
    </title>
    <link rel="stylesheet" href="/css/courses styling.css">
 
    <script src="timer.js"></script>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
  <header>Business</header>




<section>
      <div class="container">
        <div class="course">
          <div><h1><strong>Sales and Persuasion Skills for Startups
          </strong></h1></div>

          <div class="course-data">
            <div class="course-sub-data">
              <img
                src="https://img.freepik.com/free-vector/hand-drawn-business-deal-illustration_23-2149540615.jpg?t=st=1714583535~exp=1714587135~hmac=ca417d88d2b9a6266985d17b46a5d2f4ca857958eb8e8846cf52952a2cd9bc25&w=740"
                alt="Sales and Persuasion Skills for Startups
                ">
              
              <div class="price-box">
                <p><s>Original Price: $170</s></p>
                <p class="discount">Discount: 5%</p>
                <p>Final Price: $161.5</p>
                <div id="timer"></div>
              </div>

              <div class="buttons">
                <br />
                <a href="#" class="button">Enroll Now</a>
                <button class="button">Add to cart</button>
              </div>
            </div>

            <div class="course-content">
              <p><strong>Level: Beginner</strong></p>
              <p>
                <strong>Description:<br /><br /></strong>The entrepreneur's sure guide to getting a 'Yes'
              <p><strong>Requirements: None
            </strong></p>
              <table>
                <tr>
                  <td>
                    <ul>
                      <li>How to get the most out of the course
                      </li>
                      <li>How to structure a sales call – with you in control
                    </li>
                      <li>Closing techniques – getting to a ‘yes’
                      </li>
                    
                    </ul>
                  </td>
                  <td>
                    <ul>
                        <li>Powerful questioning techniques

                        </li>
                        <li>Selling ‘off the page’ – a proven way to generate high quality sales leads</li>
                      
                    </ul>
                  </td>
                </tr>
              </table>
              <p>Who's this course for: </p>
              <ul>
                    <li>It is not intended for professional salespeople wanting to sharpen existing skills. It is aimed squarely at entrepreneurs, startups, busy business owners who want quickly to gain the essential skills of selling and persuading.
                    </li>
                  
                 
              </ul>
              <p><strong>Duration:</strong>3h </p>
              <p><strong>Instructor</strong><br />Len Smith
              </p>
              <p>
                For the past 20 odd years Len has run his own business, Copywriting On Demand and manages The-Writers-Guru.

                He works from home, writing copy for organisations around the world - and lots of them have become personal friends.              <p>
                <strong>Rating:</strong> <span class="rating">4.4</span>/5
                (based on 13k ratings)
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="testimonials">
      <div class="testimonial-card">
          <h3>Review 1</h3>
          <p> This course is a fantastic entry point for those wanting to learn Blender for Unity game development. The instructor's clear guidance and practical tutorials make complex topics easy to grasp. Whether you're a beginner or have some experience, this course will get you creating impressive 3D models for Unity in no time.</p>
          <p>- Yomna</p>
          <div class="rating" data-rating="3"></div> 
      </div>
      <div class="testimonial-card">
          <h3>Review 2</h3>
          <p> For someone like me new to both Blender and Unity, this course was invaluable. The step-by-step instructions and real-world examples helped me understand 3D modeling basics swiftly. By the end, I felt confident in creating assets for my Unity projects. Highly recommended for aspiring game developers!</p>
          <p>- Rawan</p>
          <div class="rating" data-rating="4.5"></div> 
      </div>
      <div class="testimonial-card">
          <h3>Review 3</h3>
          <p> This course goes beyond basic Blender skills, offering insights into optimizing workflow for Unity game development. The instructor's expertise shines through, and the hands-on projects solidify understanding. Whether a hobbyist or professional, this course elevates game development skills. </p>
          <p>- Rawan</p>
          <div class="rating" data-rating="4.8"></div> 
      </div>
      <div class="testimonial-card">
          <h3>Review 4</h3>
          <p> This course stands out for its focus on game development with Unity. It strikes a balance between theory and practice, ensuring you not only learn Blender techniques but also integrate them seamlessly into Unity projects. A must-have for serious game developers!</p>
          <p>- Norhan</p>
          <div class="rating" data-rating="4.7"></div> 
      </div>
      <div class="testimonial-card">
          <h3>Review 5</h3>
          <p> This course transformed my approach to creating assets for Unity games. The instructor's guidance demystified Blender, turning it into an enjoyable experience. Whether creating characters or environments, this course equips you with the tools to do so effectively. Highly recommended!</p>
          <p>- Hana</p>
          <div class="rating" data-rating="5"></div> 
      </div>
  </div>
  
<%- include('./partials/navend.ejs') %>
  </body>
</html>